name: dependabot

on:
  pull_request:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          target: minor
          merge-method: merge
          use-github-auto-merge: true
          github-token: ${{ secrets.GH_TOKEN }}
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    needs: auto-merge
    if: contains(github.head_ref, 'dependabot')
    steps:
      - uses: hmarr/auto-approve-action@v3
