name: Deploy Production

on:
  push:
    branches:
      - master

jobs:
  back-merge:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Merge master -> develop
        uses: devmasx/merge-branch@1.4.0
        with:
          type: now
          from_branch: master
          target_branch: develop
          github_token: ${{ secrets.GH_TOKEN }}
  deploy:
    uses: ./.github/workflows/deploy-client.yml
    secrets: inherit